{{ block content }}

<style>
    .custom-range {
        width: 100%;
        height: 30px;
        appearance: none;
        background: #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        display: none;
    }

    .custom-range.moved::-webkit-slider-thumb,
    .custom-range.moved::-moz-range-thumb {
        background-color: #007bff !important;
        width: 20px;
    }

    .custom-range::-webkit-slider-thumb,
    .custom-range::-moz-range-thumb {
        width: 10px;
        height: 30px;
        background-color: #ddd;
        cursor: pointer;
        border-radius: 5px;
        appearance: none;
    }

    .fake-slider {
        width: 100%;
        height: 30px;
        background-color: #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fffacd;
        color: #000;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        font-size: 22px;
        border-bottom: 2px solid #ddd;
        z-index: 10;
    }

    .custom-btn {
        background-color: #6A1B9A;
        color: white;
        margin-bottom: 10px;
        width: 100%;
        height: 110px;
        font-size: 22px;
    }

    .custom-btn:hover {
        background-color: #4A148C;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

    .selected-btn {
        background-color: #28a745 !important;
        color: white !important;
        border: 2px solid #28a745;
        box-shadow: 0 8px 16px rgba(40, 167, 69, 0.5);
        transform: translateY(-4px);
    }

    .message-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-top: 10px;
    }

    .average-bar {
        background-color: #e2f0fb;
        height: 65px;
        margin-top: 25px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        line-height: 25px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    #sliderValue {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }

    .range-labels {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-top: -5px;
        font-size: 14px;
    }
</style>

<div class="container">
    <div class="game-section">
        <div class="banner">
            Tu rol: <strong>líder del grupo</strong>
            {{ if player.participant.group_artist == 'grupo_klee' }}<strong>Klee.</strong>{{ else }}<strong>Kandinski.</strong>{{ endif }}
            Tu pareja de juego es el líder del grupo
            {{ if player.participant.group_artist == 'grupo_klee' }}Kandinski.{{ else }}Klee.{{ endif }}
        </div>

        <h1 style="font-size: 34px;"><strong>Ronda N° {{ player.round_number }}</strong></h1>
        <p style="font-size: 24px;">Usted y su pareja tienen <strong>$6000 CLP</strong> cada uno</p>

        {{ if player.round_number >= 10 }}
        <div class="average-bar">
            El promedio de agresión de tu grupo en la ronda anterior fue:
            <p style="color: rgb(203, 21, 70);"> {{ promedio_grupal }} </p>
        </div>
        {{ endif }}

        <p style="font-size: 24px;">Ahora por favor tome una decisión:</p>

        <div class="form-group">
            <label for="id_agression" style="font-size: 24px;">¿Cuánto dinero del jugador del otro grupo prefiere destruir?</label>

            <!-- Fake slider -->
            <div id="fake-slider" class="fake-slider"></div>

            <!-- Real slider -->
            <input type="range" class="custom-range" id="id_agression" name="agression" min="0" max="6000" step="100" value="0">

            <!-- Labels -->
            <div class="range-labels">
                <span>$0</span>
                <span>$6000</span>
            </div>

            <!-- Touched -->
            <input type="hidden" name="slider_touched" id="slider_touched" value="0">

            <!-- Slider value -->
            <div id="sliderValue">Presione en algún lugar de la barra y arrastre el círculo</div>
        </div>
    </div>

    <div class="message-section">
        <p style="font-size: 24px;"><strong>Ahora, elija un mensaje para enviar a los miembros de su grupo:</strong></p>

        <div class="message-grid">
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Deberías destruirle la mitad del dinero')">Deberías destruir la mitad del dinero</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'No le destruyas dinero')">No destruyas dinero</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Puedes hacer lo que prefieras')">Puedes hacer lo que prefieras</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Sugiero destruirle la mitad del dinero')">Sugiero destruirle la mitad del dinero</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Sugiero destruirle todo el dinero')">Sugiero destruirle todo el dinero</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Deberías destruirle todo el dinero')">Deberías destruirle todo el dinero</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Sugiero destruirle $1.000')">Sugiero destruirle $1.000</button>
            <button class="btn custom-btn" type="button" onclick="selectMessage(this, 'Deberías destruirle $1.000')">Deberías destruirle $1.000</button>
        </div>

        <form method="post">
            <input type="hidden" name="leader_message" id="leader_message" value="">
            <br>
            {{ next_button }}
        </form>
    </div>
</div>

<script>
    const slider = document.getElementById("id_agression");
    const fakeSlider = document.getElementById("fake-slider");
    const sliderValue = document.getElementById("sliderValue");
    const sliderTouched = document.getElementById("slider_touched");

    fakeSlider.addEventListener("click", () => {
        slider.classList.add("moved");
        slider.style.display = "block";
        fakeSlider.style.display = "none";
    });

    slider.addEventListener("input", () => {
        sliderValue.textContent = `Valor elegido: $${slider.value}`;
        sliderTouched.value = "1";
    });

    function selectMessage(button, message) {
        document.getElementById("leader_message").value = message;
        let buttons = document.querySelectorAll('.message-grid button');
        buttons.forEach(btn => btn.classList.remove('selected-btn'));
        button.classList.add('selected-btn');
    }
</script>

{{ endblock }}
