{{ block content }}

{{ if player.round_number == 1 }}

<h1 style="font-size: 34px;"><strong>Tarea de predicción - Ronda 1</strong></h1>

{{ endif }}

{{ if player.round_number == 7 }}

<h1 style="font-size: 34px;"><strong>Juego de predicción - Ronda intermedia</strong></h1>

{{ endif }}



<p style="font-size: 24px;" align="justify">Suponga que un integrante de su grupo está emparejado con una persona del otro grupo. Ambos tienen $6000 pesos chilenos y 
    tienen la oportunidad de destruir
     desde $0 a $6000 del monto del líder del grupo opuesto.
</p>

<p style="font-size: 24px;" align="justify">La tarea consiste en analizar 7 posibles acciones que este integrante de tu equipo 
    puede ejercer al otro. <strong>Para cada una de las opciones por favor indique lo que las demás personas de su propio equipo consideran 
    como muy socialmente inapropiado, algo socialmente inapropiado, algo socialmente apropiado o muy socialmente apropiado.</strong> Por 
    "socialmente apropiado", nos referimos a un comportamiento que la mayoría de las personas de su equipo considera que es lo "correcto" o "ético" 
    de hacer. Dicho de otra manera, seleccionar una opción socialmente inapropiada podría hacer que otras personas se enfaden. 
</p>
 
<p style="font-size: 24px;" align="justify">Seleccionaremos una acción (representada en una fila) al azar. <strong> Si tu respuesta sobre esa acción es la misma que la seleccionada por la 
    mayoría de participantes de tu equipo, ganarás $1.000 extra en tu pago final.</strong></p>

<br>


{{ if player.round_number == 1}}
<form>
<fieldset>
    <table>
        <tr>
            <td align='left' width ="30%"></td>
            <td align='left' width="12%">Muy inapropiado socialmente</td>
            <td align='left' width="12%">Algo inapropiado socialmente</td>
            <td align='left' width="12%">Algo apropiado socialmente</td>
            <td align='left' width="12%">Muy apropiado socialmente</td>
        </tr>
        <tr><td colspan="8"><hr></td></tr>
            <tr>
        <td align='left'>Destruir $0</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_1' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_1' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_1' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_1' value = '4'></td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> <!-- Línea horizontal -->
            <tr>
        <td align='left'>Destruir entre $100 y menos de $1000</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_2' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_2' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_2' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_2' value = '4'></td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            <tr>
        <td align='left'>Destruir $1000</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_3' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_3' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_3' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_3' value = '4'></td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            <tr>
        <td align='left'>Destruir entre $1100 y $2900</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_4' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_4' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_4' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_4' value = '4'></td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            <tr>
        <td align='left'>Destruir la mitad</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_5' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_5' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_5' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_5' value = '4'></td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            <tr>
        <td align='left'>Destruir entre $3100 y $5900</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_6' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_6' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_6' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_6' value = '4'></td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            <tr>
        <td align='left'>Destruir todo</td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_7' value = '1'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_7' value = '2'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_7' value = '3'></td>
        <td align='center'><input type ='radio' name ='norms_elicitation1_7' value = '4'></td>
            </tr>

    </table>
</fieldset>
</form>

<br>

{{ endif }}



{{ next_button }}


{{ endblock }}